body{
    background-color:rgba(132, 204, 235, 0.805);
}
h1{
    color: blue;
    background-color:cornsilk;
}
#show_sketch
{
    float:right;
}
canvas{
    border:5px solid gold;
    border-radius:20px;
    animation-name:example;
    animation-duration:4s;
    margin-top: 50px;
    animation-iteration-count:infinite;
}
@keyframes example
{
    from {box-shadow: 1px 1px 38px gold;}
    to {box-shadow: 1px 1px 38px lightblue;}
}
label{
    color: red;
}
#load{
    width: 50px;
    font-size: 9px;
    height: 30px;
}